html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --color-background: #020659;
    --color-primary: #020873;
    --color-secondary: #030a8c;
    --color-accent: #0d8dfb;
    --color-accent2: #2104d9;
    --color-accent3: #2699fb;
    --color-accent4: #590242;
    --color-neutral: #fffdfd;
}

/*
header {

}
*/

/*
header h1 {

}
*/

/*
nav {

}
*/

/*
nav ul {

}
*/

/*
nav ul li {

}
*/

/*
nav ul li a {

}
*/

/*
body {

}
*/

/*
main {

}
*/

/*
h1 {

}
*/

/*
h2 {

}  
*/ 

/*
h3 {

}
*/

/*
h4 {

}  
*/ 

/*
p {

}  
*/     

/*
a {

}
*/

/*
ul {

}
*/

/*
li {

}  
*/ 

/*
img {

}
*/

/*
footer {

} 
*/  

/*
@media screen and (min-width:) {
    
}
*/